<launch>
  <arg name="calibrated" default="0" />

  <group ns="camera_track">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="t_c_optical_frame" />
      <param name="serial" value="14180973" />
      <param name="camera_track_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_track_info/14180973.yaml" />
      <param name="frame_rate" value="30.0" />
      <param name="auto_gain" value="False" />
      <param name="gain" value="20" />
      <param name="auto_shutter" value="False" />
      <param name="shutter_speed" value="0.005" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

    <node pkg="sv_receptors" type="vr_camera" name="vr_camera_track">
      <rosparam>
        subscriber: /camera_track/image_color
        publisher: track_camera_object_position
        view: false
        undistort: false
        camera_fx: 1945.727502
        camera_fy: 1930.055740
        camera_cx: 626.225924
        camera_cy: 669.285322
        camera_distortion: [-0.470603, 0.396404, -0.018308, -0.001757, 0.000000]
      </rosparam>
    </node>

  </group>
</launch>