<launch>
  <arg name="calibrated" default="0" />

  <group ns="camera_postument">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="p_c_optical_frame" />
      <param name="serial" value="13481977" />
      <param name="camera_postument_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_postument_info/13481977.yaml" />
      <param name="frame_rate" value="30.0" />
      <param name="auto_gain" value="False" />
      <param name="gain" value="20" />
      <param name="auto_shutter" value="False" />
      <param name="shutter_speed" value="0.005" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

    <node pkg="sv_receptors" type="vr_camera" name="vr_camera_postument">
      <rosparam>
        subscriber: /camera_postument/image_color
        publisher: postument_camera_object_position
        camera_fx: 1240.563214
        camera_fy: 1236.069821
        camera_cx: 619.014122
        camera_cy: 547.562770
        camera_distortion: [-0.411348, 0.187733, 0.002984, 0.000523, 0.000000]
      </rosparam>
    </node>

  </group>
</launch>