<launch>

  <group ns="sv_control_system">

    <node pkg="sv_system" type="control_system" name="control_system">
      <rosparam>
        subscriber: /sv_camera_postument/vr_camera_postument/camera_postument_object_position
        publisher: system_object_position
        visualization_marker: system_object_marker
        marker_frame: world
      </rosparam>
    </node>
  </group>

</launch>
