<launch>

  <group ns="sv_receptors">

    <node pkg="sv_receptors" type="vr_camera_test" name="vr_camera_kinect">
      <rosparam>
        subscriber: /head_kinect/rgb/image_raw
        publisher: ball_position
        view: true
      </rosparam>
    </node>
  </group>

  <group ns="sv_control_system">

    <node pkg="sv_system" type="control_system_test" name="control_system">
      <rosparam>
        subscriber: /sv_receptors/vr_camera_kinect/ball_position
        publisher_pos: ball_position
        publisher_cmd: look_at_cmd
        visualization_marker: ball_marker_position
        marker_frame: world
      </rosparam>
    </node>
  </group>
  
  <group ns="sv_effectors">

    <node pkg="sv_effectors" type="ve_head_test" name="ve_head_velma">
      <rosparam>
        subscriber: /sv_control_system/control_system/look_at_cmd
        service: /sv_effectors/moveHead
      </rosparam>
    </node>
    
    <node pkg="sv_effectors" type="ve_velma_head.py" name="ve_velma_head_srv" output="screen"> 
      <rosparam>
      </rosparam>
    </node>
  </group>

</launch>
